{% load django_browser_reload %}
{% load static %}

{% for product in products %}

<head>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<div class="product">
    <h2>{{ product.nume }}</h2>
    <p>{{ product.descriere }}</p>
    <p>Specificatii: {{ product.specificatii }}</p>
    {% if product.document %}
    <a href="{{ product.document.url }}" target="_blank">{{ product.get_document_name }}</a>
    {% endif %}
    <p>{{ product.pret }} Lei</p>
    <div class="favorite-button">
        {% if user.is_authenticated %}
        {% if product in user.favorite_products.all %}
        <button class="remove-favorite-button" onclick="removeFromFavorites('{{ product.nume }}')">Remove from
            Favorites</button>
        {% else %}
        <button class="add-favorite-button" onclick="addToFavorites('{{ product.nume }}')">Add to Favorites</button>
        {% endif %}
        {% else %}
        <a href="{% url 'login' %}">Login to add to Favorites</a>
        {% endif %}
    </div>
    <div class="favorite-button">
        {% if user.is_authenticated %}
        {% if product in user.cartt_products.all %}
        <button class="remove-favorite-button" onclick="removeFromCart('{{ product.nume }}')">Remove from
            Cart</button>
        {% else %}
        <button class="add-favorite-button" onclick="addToCart('{{ product.nume }}')">Add to Cart</button>
        {% endif %}
        {% else %}
        <a href="{% url 'login' %}">Login to add to Cart</a>
        {% endif %}
    </div>
</div>
{% endfor %}